.header {
  // background-color: green;
  margin: auto;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-items: center;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
