body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  border: 1px indianred;
}

li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0px;
}
