@mixin bg-color($color) {
  .base-color {
    .base-color {
      background-color: $color;
    }

    @for $i from 1 through 4 {
      .darken-#{$i} {
        background-color: darken($base-color1, 10% * $i);
        color: white;
      }
    }

    @for $i from 1 through 4 {
      .lighten-#{$i} {
        background-color: lighten($base-color1, 10% * $i);
      }
    }
  }
}
