// Colors
$color-primary: #0000ff;
$color-secondary: #4b7bf5;
$color-tertiary: #79a9f5;
$color-light: #c2e2f5;
$font-color-light: #ffffff;
$font-color-dark: black;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Roboto:wght@300;700&display=swap');

$font-main: 'Comic Neue', cursive;
$font-secondary: 'Roboto', sans-serif;

// Box-shadow
$shadow: -5px 10px 5px #888888;

// Border-radius
$radius: 0;
