header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  background-color: $color-light;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 15px;
    padding: 1rem;
  }

  .page-title {
    background-color: $color-primary;
    color: $color-light;
    padding: 20px 10px;
    // padding: 1.25rem 0.625rem;
    font-family: $font-logo;
    letter-spacing: 2px;
    // font-size: 26px;
    font-size: 1.625rem;
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  @media screen and (max-width: $tablet) {
    margin-bottom: 0;

    .toolbar {
      display: none;
    }
  }
}
