body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'navbar main main main'
    'footer footer footer footer';

  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'header'
      'navbar'
      'main'
      'footer';
  }

  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    background-color: white;

    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    .page-title {
      background-color: yellowgreen;
      color: white;
      padding: 20px;
      font-family: 'Bangers', cursive;
      letter-spacing: 2px;
      font-size: 2;
    }
  }
}
