// Colors
$color-primary: #1a4314;
$color-secondary: #2c5e1a;
$color-tertiary: #32cd30;
$color-light: #b2d2a4;
$font-color-light: #ffffff;
$font-color-dark: black;

// Fonts must be changed
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Roboto:wght@300;700&display=swap');

$font-main: 'Comic Neue', cursive;
$font-secondary: 'Roboto', sans-serif;
