// Colors
$color-primary: #13c4a3;
$color-secondary: #36f1cd;
$color-tertiary: #39a0ed;
// $color-light: #ffffff;
$font-color: #ffffff;

// Fonts must be changed
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Roboto:wght@300;700&display=swap');

$font-main: 'Comic Neue', cursive;
$font-secondary: 'Roboto', sans-serif;
