// Colors
$color-primary: #7b4b94;
$color-secondary: #7d82b8;
$color-tertiary: #b7e3cc;
$color-light: #ffffff;
$font-color-light: #ffffff;
$font-color-dark: #ffffff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Roboto:wght@300;700&display=swap');

$font-main: 'Comic Neue', cursive;
$font-secondary: 'Roboto', sans-serif;
