// Colors
$color-base: #ff3333;
$color-important: #990026;
$color-warning: ##ff99b3;
$color-light: ##ffffff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Roboto:wght@300;700&display=swap');

$font-main: 'Comic Neue', cursive;
$font-secondary: 'Roboto', sans-serif;
