@import 'themeA.scss';
@import 'themeB.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-family: $font-main;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

div {
  background-color: red;
}
