@import 'themeB.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-family: $font-main;
  margin-top: 2rem;
}

.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.box {
  border: 1px solid #888888;
  border-radius: $radius;
  width: 115px;
  height: 75px;
  padding-left: 5px;
  color: $font-color-light;
  font-family: $font-main;

  &-base {
    background-color: $color-primary;
  }

  &-important {
    background-color: $color-secondary;
  }

  &-warning {
    background-color: $color-tertiary;
  }

  &-font {
    color: $font-color-dark;
    border: none;
  }

  &-shadow {
    background-color: $color-light;
    color: $font-color-dark;
    padding: 10px;
    box-shadow: $shadow;
  }
}

.secondary-font {
  font-family: $font-se;
}
