// Colors
$base-color1: #ff3366;
$base-color2: #2ec4b6;
$base-color3: #0476d0;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
$font-main: 'Roboto', sans-serif;
