// Colors
$color-primary: #cf6765;
$color-secondary: #30415d;
$color-tertiary: #8facbb;
$color-light: white;
$color-dark: #041424;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-logo: 'Bangers', cursive;

// Breakpoint
$tablet: 768px;
