@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-primary;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 2fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  // background-color: rgb(231, 231, 231);
  background-color: white;
  width: 250px;

  &__image {
    border: 1px solid green;
  }

  &__image img {
    max-width: 100%;
  }

  &__content {
    border: 1px solid blue;
    background-color: white;
  }

  &__date {
    border: 1px solid blue;
    justify-self: end;

    span:nth-child(2) {
      color: $color-main;
    }
  }

  &__btn {
    border: 1px solid blue;
    background-color: $color-main;
    border-radius: 3px;
    color: white;
    justify-self: center;

    &:hover {
      cursor: pointer;
      background-color: $color-secondary;
    }
  }
  // @media screen and (min-width: 1200px) {
  //   .wrapper {
  //     grid-template-columns: repeat(3, 1fr);
  //     grid-auto-rows: row;
  //   }
  // }
}
