@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-primary;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  max-height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 0.5fr;
  row-gap: 10px;
  background-color: white;
  margin: 10px;
  border: 1px solid $color-secondary;

  &__image {
    grid-column: 1;
    grid-row: 1;
    height: 150px;
  }

  &__image img {
    max-width: 100%;
  }

  &__content {
    padding: 0px 10px;
    grid-column: 1;
    grid-row: 2;
    // justify-self: start;
    font-size: 12px;

    &--title {
      font-size: 20px;
    }
  }

  &__date {
    padding-right: 5px;
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    font-size: 13px;

    span:nth-child(2) {
      color: $color-main;
      padding-right: 5px;
    }
  }

  &__btn {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    text-align: center;
    width: 150px;
    border: none;
    background-color: $color-main;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 15px;

    &:hover {
      cursor: pointer;
      background-color: $color-secondary;
    }
  }
}
