h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  border: 1px solid black;
  gap: 5px;
}

.box {
  width: 70px;
  height: 70px;
  border: 1px solid red;
}
