@import 'variables.scss';

h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  border: 1px solid black;
  gap: 5px;
}

.box {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.container-1 {
  .base-color {
    background-color: $base-color1;
  }
  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($base-color1, 10% * $i);
    }
  }

  @for $i from 1 through 4 {
    .lighten-#{$i} {
      background-color: lighten($base-color1, 10% * $i);
    }
  }
}

.container-2 {
  .base-color {
    background-color: $base-color2;
  }
  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($base-color2, 10% * $i);
    }
  }

  @for $i from 1 through 4 {
    .lighten-#{$i} {
      background-color: lighten($base-color2, 10% * $i);
    }
  }
}

.container-3 {
  .base-color {
    background-color: $base-color3;
  }
  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($base-color3, 10% * $i);
    }
  }

  @for $i from 1 through 4 {
    .lighten-#{$i} {
      background-color: lighten($base-color3, 10% * $i);
    }
  }
}
