// Colors
$base-color1: #8f00ff;
$base-color2: #ff00ff;
$base-color3: #2ec4b6;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
$font-main: 'Roboto', sans-serif;
