@import 'mixins.scss';
@import 'variables.scss';

h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  font-size: 0.8rem;
  font-family: $font-main;
  text-align: center;
}

.box {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: medium;
  padding: 1rem;
}

.container-1 {
  @include bg-color($base-color1);
}

.container-2 {
  @include bg-color($base-color2);
}

.container-3 {
  @include bg-color($base-color3);
}
