@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  // flex-direction: column;
  background-color: $color-primary;
  // gap: 12px;

  &-list {
    display: flex;
    justify-content: space-between;
    font-family: $font-primary;
    padding: 12px;
  }

  &-item {
    text-align: center;
    color: $font-color-primary;
    padding: 1rem;

    &:hover {
      background: $color-secondary;
    }
  }
}

// .menu {
//   @media screen and (min-width: 385px) {
//     flex-direction: row;
//   }
// }
