@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';

// h2 {
//   text-align: left;
//   margin-top: 1rem;
//   margin-left: 1rem;
//   font-family: $font-primary;
//   font-size: 18px;
// }

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-primary;
  background-color: $color-primary;

  &-item {
    text-align: center;
    color: $font-color-primary;
    padding: 1rem;

    &:hover {
      background: $color-secondary;
    }
  }
}

.menu {
  @media screen and (min-width: 385px) {
    flex-direction: row;
  }
}
