// Colors
$color-primary: #01949a;
$color-secondary: #004369;

// Fonts
$font-color-primary: #ffffff;
$font-color-secondary: black;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-primary: 'Montserrat', sans-serif;
