@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';

h2 {
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav .menu {
  background: $color-primary;

  @include for-desktop-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-item {
    width: 100%;
    text-align: center;
    color: $font-color-primary;
    cursor: pointer;
    padding: 1rem;
  }

  &-item:hover {
    background: $color-secondary;
  }
}
