@import 'variables.scss';
@import 'mixin.scss';
@import 'reset.scss';

h2 {
  text-align: center;
  margin-top: 1rem;
}

ul,
li {
  list-style-type: none;
  display: inline-block;
}

nav {
  padding: 1em;
}

.container .menu {
  list-style: none;
  background: $color-primary;
  width: 100%;
  position: absolute;
  left: 0;

  // @include desktop {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  // }

  .container .menu-item:hover {
    background: $color-secondary;
    color: $font-color-primary;
  }
}
