$background: #efefef;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container__image {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
