// Colors
$color-primary: #1a4314;
$color-secondary: #2c5e1a;
$color-tertiary: #32cd30;
$color-light: #b2d2a4;
$font-color-light: #ffffff;
$font-color-dark: black;

// Fonts must be changed
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Space Mono', monospace;

// Box-shadow
$shadow: 5px 10px 5px #888888;

// Border-radius
$radius: 5px;
